@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Monoton&family=Red+Hat+Mono:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
html {
  font-size: 62.5%;
}
:root {
  --color__main: #5cdb95;
  --color__main--light: #8ee4af;
  --color__main--dark: #379683;
  --color__sec: #05386b;
  --color__sec--light: #05386bb6;
  --color__ter: #edf5e1;
  --color__black: #000;
  --color__white: #fff;
  --color__grey: #777;
  --font__default: "Red Hat Mono", monospace;
  --font__header: "Lobster", cursive;
  --border-right: 0.5px solid var(--color__main);
  --transistion__default: all 0.2s;
}
body {
  margin: 0 auto;
  background-color: var(--color__main);
  font-family: var(--font__default);
  text-transform: uppercase;
  /* overflow: hidden; */
}
.main {
  max-height: 100vh;
}
.header {
  text-align: center;
  /* border-bottom: var(--border-right); */
  text-transform: capitalize;
}
.header__title {
  font-family: var(--font__header);
  font-size: 3.5rem;
  color: var(--color__ter);
  text-shadow: 1px 1px 2px var(--color__black);
  transition: var(--transistion__default);
  backface-visibility: hidden;
  cursor: pointer;
}
.header__title:hover {
  transform: skewX(10deg) translateY(-4px);
  text-shadow: 2px 2px 1px var(--color__black);
}
.container {
  display: flex;
  height: 100vh;
}
.container__display {
  background-color: var(--color__main--light);
  width: 100%;
  overflow-y: scroll;
  font-size: 0.85rem;
}
.container__control {
  width: 25%;
  background-color: var(--color__main--dark);
  color: var(--color__ter);
  font-size: 1.3rem;
  background-color: var(--color__white);
  resize: horizontal;
  overflow: auto;
  border-right: var(--border-right);
}
.status,
.book-header,
.book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--border-right);
  text-align: center;
}

.status__read,
.status__pending,
.status__total {
  width: calc(100% / 3);
  /* border-right: var(--border-right); */
  background-color: var(--color__white);
}
.book-header {
  background-color: var(--color__white);
  color: var(--color__sec);
}

.book {
  padding: 1rem 0;
  transition: var(--transistion__default);
  /* background-color: var(--color__main--dark); */
}
.book > *:hover {
  transform: scale(1.1) skew(-2deg, 0.5deg) translate(1.2px, -1.3px);
  background-color: var(--color__sec);
  color: var(--color__ter);
  border: none;
}

.book__text--id,
.book-header__text--id {
  width: 10%;
  border-right: var(--border-right);
}
.book__text--title,
.book-header__text--title {
  width: 30%;
  border-right: var(--border-right);
}
.book__text--author,
.book-header__text--author {
  width: 30%;
  border-right: var(--border-right);
}
.book__text--pages,
.book-header__text--pages {
  width: 10%;
  border-right: var(--border-right);
}
.book__text--status,
.book-header__text--status {
  width: 20%;
  border-right: var(--border-right);
  transition: var(--transistion__default);
}
.book__text--remove,
.book-header__text--remove {
  width: 5%;
  /* border-right: var(--border-right); */
}
.book__text--remove {
  color: var(--color__sec);
  transition: var(--transistion__default);
  cursor: pointer;
}
.book__text--remove:hover {
  color: orange;
  transform: scale(1.2) translate(0.5px, -2px);
  text-shadow: -1px 2px 2px var(--color__black);
  cursor: pointer;
}
.book__text--remove:active {
  transform: scale(1.1) translate(0.1px, -0.5px);
  text-shadow: -0.3px 0.8px 1px var(--color__black);
  color: var(--color__white);
}
.book__text--status:hover {
  cursor: pointer;
}
.book__text--status:focus {
  transform: translate(0.5px, -1.5px);
}
.book__text--status:active {
  transform: translate(0.2px, -0.3px);
  background-color: var(--color__white);
  color: var(--color__black);
}
.container__control--main {
  text-align: center;
  margin: 0;
  padding: 1.25rem;
  margin-bottom: 2rem;
  color: var(--color__sec);
  /* border-bottom: var(--border-right); */
}

.book-control * {
  display: block;
  padding: 0.75rem;
  width: 80%;
  margin: 0.5rem auto;
  outline: none;
  border: none;
  color: var(--color__sec);
}
.book-control > input,
.book-search > input {
  background-color: var(--color__main--light);
  outline: none;
  color: var(--color__sec);
  font-family: inherit;
  border-radius: 4px;
  font-weight: bold;
}

.book-control > input:focus,
.book-search > input:focus {
  background-color: var(--color__main--dark);
  color: var(--color__white);
}

.book-search {
  margin: 0 auto;
  text-align: center;
  color: var(--color__sec);
}

.book-search__input {
  outline: none;
  border: none;
  display: block;
  padding: 0.75rem;
  width: 80%;
  margin: 0.5rem auto;
}

.btn {
  display: block;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--color__sec);
  color: var(--color__white);
  margin: 3rem auto;
  padding: 0.75rem;
  width: 80%;
  font-size: inherit;
  transition: var(--transistion__default);
}

.btn:hover {
  transform: translate(0.5px, -2px);
  box-shadow: -4px 4px 4px var(--color__black);
  background-color: var(--color__main--light);
  color: var(--color__sec);
}
.btn:active {
  transform: translate(0.5px, -0.5px);
  box-shadow: -1.5px 1.5px 1px var(--color__black);
  background-color: var(--color__white);
  color: var(--color__sec);
}
